/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-secondary: #00c6ff;
  --color-secondary--dark: #0072ff;
  --color-grey-warn-1: rgb(238, 227, 212);
  --color-grey-warn-2: rgb(250, 194, 116);
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-5: #f8ecec;
  --color-primary-light: #f19db4;
  --color-grey-light-3: rgba(109, 203, 247, 0.8);
  --color-grey-light-4: rgb(0, 0, 0, 0.4);
  --color-grey-dark: rgba(240, 236, 236, 0.89);
  --color-grey-dark-1: rgba(51, 51, 51, 0.9);
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 1rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-dark-2: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, #00c6ff, #0072ff);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }
  @media only screen and (max-width: 75em) {
    body {
      min-height: 0; } }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }
  @media only screen and (max-width: 37.5em) {
    .container {
      box-shadow: none; } }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      align-content: space-around;
      height: 13rem; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.city-view {
  background-color: #fff;
  flex: 1; }

.detail {
  display: flex;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line); }
  @media only screen and (max-width: 56.25em) {
    .detail {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .detail {
      flex-direction: column; } }

.logo {
  height: 7.25rem;
  margin-left: 2rem; }
  @media only screen and (max-width: 31.25em) {
    .logo {
      margin-top: 2rem; } }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .search {
      order: 1;
      flex: 0 0 90%;
      background-color: var(--color-grey-light-2);
      margin-left: 2rem;
      margin-bottom: 4rem; } }
  .search__label {
    text-align: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem; }
    @media only screen and (max-width: 31.25em) {
      .search__input {
        border-radius: 0px;
        padding: 0;
        margin-right: 0; } }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-2); }
    .search__input::-webit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-2); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav__user a {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    width: 100%;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-grey-light-4);
    transition: all 0.2s; }
  .user-nav__user:hover {
    transform: scale(1.1); }

.side-nav {
  font-size: 1.4rem;
  margin-top: 3.5rem;
  list-style: none; }
  .side-nav__item {
    display: flex;
    align-items: center; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav__button {
    border: none;
    background-color: var(--color-grey-dark-1);
    color: var(--color-grey-dark);
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2rem 0;
    z-index: 10;
    font-size: 1.5rem;
    align-self: stretch;
    display: flex;
    justify-content: center; }
    .side-nav__button--text {
      flex: 0 0 80%;
      outline: none; }
      .side-nav__button--text span {
        padding-left: 2rem; }
        .side-nav__button--text span:hover {
          transform: scale(1.1); }
    .side-nav__button--cancel {
      flex: 0 0 20%;
      color: var(--color-primary); }
    .side-nav__button i {
      width: 2rem;
      height: 2rem;
      padding-right: 2rem;
      fill: currentColor; }
      .side-nav__button i:focus, .side-nav__button i:active {
        outline: none; }
      .side-nav__button i:hover {
        transform: scale(1.4); }

.legal {
  font-size: 1.3rem;
  color: var(--color-grey-dark);
  text-align: center;
  font-weight: 800;
  padding: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .legal {
      display: none; } }

.gallery {
  display: flex;
  height: 25rem; }
  @media only screen and (max-width: 31.25em) {
    .gallery {
      height: 15rem; } }
  .gallery__photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.daily {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .daily {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; } }
  .daily_down {
    display: flex;
    align-items: center; }
    .daily_down-even {
      flex: 0 0 33.333333%;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch; }
      .daily_down-even > i {
        font-size: 3.5rem;
        flex: 0 0 50%;
        margin-top: 1px;
        background-image: linear-gradient(to right bottom, var(--color-grey-warn-2), var(--color-grey-warn-1));
        -webkit-background-clip: text;
        color: transparent; }
  .daily_date {
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px; }
  .daily__city {
    align-self: stretch;
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 1.5rem;
    flex: 0 0 25%; }
    .daily__city > i {
      font-size: 1.25rem;
      padding: 0.5rem; }
    @media only screen and (max-width: 37.5em) {
      .daily__city {
        flex: 0 0 50%; } }
  .daily__temp {
    background-color: var(--color-primary);
    color: #fff;
    flex: 0 0 25%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .daily__temp {
        flex: 0 0 50%; } }
    .daily__temp-average {
      width: 100%;
      height: 100%;
      background-color: #fff;
      color: var(--color-grey-dark-1);
      text-align: center;
      font-size: 2.25rem;
      font-weight: 400; }
    .daily__temp-maxmin {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      background-image: linear-gradient(to right, var(--color-primary-light), var(--color-grey-light-3)); }
    .daily__temp-max, .daily__temp-min, .daily__temp-avg {
      color: var(--color-grey-light-2);
      width: 50%;
      font-weight: 800;
      font-size: 1.3rem;
      text-align: center; }
  .daily__weather {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    flex: 0 0 15%;
    margin-top: 0.5rem; }
    @media only screen and (max-width: 37.5em) {
      .daily__weather {
        flex: 0 0 25%;
        border: var(--line);
        margin-top: 0rem; } }
    .daily__weather-description {
      flex: 0 0 50%;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .daily__weather > i {
      font-size: 3.5rem;
      flex: 0 0 50%;
      background-image: linear-gradient(to right bottom, var(--color-grey-warn-2), var(--color-grey-warn-1));
      -webkit-background-clip: text;
      color: transparent; }
  .daily__wind {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2px;
    flex: 0 0 15%;
    letter-spacing: 0.9px; }
    @media only screen and (max-width: 37.5em) {
      .daily__wind {
        flex: 0 0 25%;
        margin-top: 0rem;
        align-self: stretch;
        border: var(--line);
        letter-spacing: 0.1px; } }
    .daily__wind-text {
      flex: 0 0 33.33333333334%;
      font-size: 1.5rem;
      color: var(--color-grey-dark-3); }
    .daily__wind-speed, .daily__wind-deg {
      flex: 0 0 33.33333333333%; }
      .daily__wind-speed > span, .daily__wind-deg > span {
        font-size: 1.2rem;
        font-weight: 700; }
      @media only screen and (max-width: 37.5em) {
        .daily__wind-speed, .daily__wind-deg {
          flex: 0 0 0; } }
  .daily__favoriate {
    flex: 0 0 5%; }
    @media only screen and (max-width: 37.5em) {
      .daily__favoriate {
        flex: 0 0 25%;
        align-self: stretch;
        border: var(--line);
        letter-spacing: 0.1px;
        display: flex;
        justify-content: center;
        align-items: center; } }
    .daily__favoriate button {
      border: none;
      background-color: #fff; }
    .daily__favoriate:hover {
      transform: scale(1.05); }
  .daily__other {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2px;
    flex: 0 0 15%;
    letter-spacing: 0.9px; }
    @media only screen and (max-width: 37.5em) {
      .daily__other {
        flex: 0 0 25%;
        margin-top: 0rem;
        align-self: stretch;
        border: var(--line);
        letter-spacing: 0.1px; } }
    .daily__other-humidity, .daily__other-sunrise, .daily__other-sunset {
      flex: 0 0 33.33333333333%;
      font-size: 1.2rem;
      color: var(--color-grey-dark-3); }
      .daily__other-humidity > span, .daily__other-sunrise > span, .daily__other-sunset > span {
        font-size: 1.2rem;
        font-weight: 700; }

.description,
.user-review {
  height: 100%;
  margin: 2rem;
  flex: 0 0 45%; }
  @media only screen and (max-width: 37.5em) {
    .description,
    .user-review {
      margin: 3rem;
      flex: none; } }

@media only screen and (max-width: 37.5em) {
  .user-review {
    order: 0; } }

.description {
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 37.5em) {
    .description {
      order: 1; } }
  .description_item {
    margin-bottom: 2rem;
    box-shadow: var(--shadow-dark-2); }
  .description_button {
    border: none;
    background-color: inherit;
    color: var(--color-grey-light-4);
    font-size: 2rem;
    font-weight: 300;
    padding: 0 5px;
    border-bottom: 1px solid #ccc;
    transition: all 0.2s;
    align-self: center; }
    .description_button:focus, .description_button:active {
      transform: translateY(3px);
      outline: none; }
    .description_button:hover {
      transform: translateY(-1px); }

.alert {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600; }
  .alert-danger {
    color: var(--color-primary); }
